<!DOCTYPE html>
<html>
  <head>
    <% include partial/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/houseT.css">
  </head>
  <body>
    <!-- include header-->
    <% include partial/header %>

    <div class="contianer">
      <div class="row">
        <div class="col-md-8">
          <p class="title">Sensor för inomhustemperatur</p>
        </div>
      </div>
    </div>


    <script src="/lib/jQuery/jquery.min.js"></script>
    <script src="/lib/Bootstrap/js/bootstrap.js"></script>
  </body>
</html>
