<!DOCTYPE html>
<html>
  <head>
    <% include partial/head %>
  </head>
  <body>
    
    <!-- include header-->
    <% include partial/header %>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-1">
          <div class="panel panel-default">
            <div class="panel-heading">Webcamera</div>
            <div class="panel-body">
              <img class="camera-img" src="">
              <a href="http://hzurl.se/kamera" class="btn btn-primary camera-btn">Webcamera</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-1">
          <div class="panel panel-default green-background">
            <div class="panel-heading dark-green-background">Temperatur Inomhus</div>
            <div class="panel-body center">
              <p class="house-temp dyn-font-size">sdg</p>
              
            </div>
          </div>

          <div class="panel panel-default blue-background">
            <div class="panel-heading dark-blue-background">Temperatur Inomhus</div>
            <div class="panel-body center">
              <p class="house-temp dyn-font-size">sdg</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-1"></div>
      </div>
    </div>


    <script src="/lib/jQuery/jquery.min.js"></script>
    <script src="/lib/Bootstrap/js/bootstrap.js"></script>
    <script src="/javascripts/tableController.js"></script>

  </body>
</html>
