body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.camera-img{
	padding-bottom: 15px;
}

.dyn-font-size{
	font-size: 30px;
    font-size: 3.5vw;
}

.center{
	text-align: center;
}

.toTheLeft{
	float: left;
  	width: 50%;
  	overflow: hidden;
  	vertical-align: middle;
}

.toTheRight{
	overflow: hidden;
	vertical-align: middle;
}

.no-margin{
	margin: 15px !important;
}



/* Panels */
.house-temp-panel:hover{
	box-shadow: 4px 4px 6px #17212b;
}

.outer-temp-panel:hover{
	box-shadow: 4px 4px 6px #17212b;
}

.hot-tub-temp-panel:hover{
	box-shadow: 4px 4px 6px #17212b;
}



/* Background colors */
.green-background{
	background-color: #5CB85C !important;
}

.dark-green-background{
	background-color: #4CAE4C !important;
}

.blue-background{
	background-color: #5BC0DE !important;
}

.dark-blue-background{
	background-color: #46B8DA !important;
}

.yellow-background{
	background-color: #F0AD4E !important;
}

.dark-yellow-background{
	background-color: #EEA236 !important;
}
