<title>FjallWatch</title>
<link rel="stylesheet" href="/lib/Bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />