<title>FjallWatch</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/resources/fjall-favicon.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="/resources/fjallwatch-icon.png" />
<link rel="stylesheet" href="/lib/Bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />